<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <title>话题</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/static/css/shitouren.css">
    <script type="text/javascript" src="http://www.shitouren.com/homepage/js/jquery.min.js"></script>
    <script src="/static/js/uuid.js"></script>
    <script src="/static/js/login.js"></script>
</head>
<body>
<div class="topic-page">
    <div class="page-body">
        <div class="hot-topics">
            <div class="hot-topic">
                <img src="http://img2.imgtn.bdimg.com/it/u=1607104275,193776527&fm=21&gp=0.jpg">
            </div>
        </div>
        <div class="normal-topics">
            <div class="normal-topic">
                <div class="topic-hot">155</div>
                <div class="topic-body">
                    <a class="topic-content" href="/note">
                        #拯救装修逼格，从忘掉宜家开始#
                    </a>
                    <div class="topic-title">公共频道</div>
                </div>
            </div>
            <div class="normal-topic">
                <div class="topic-hot">155</div>
                <div class="topic-body">
                    <a class="topic-content" href="/note">
                        #拯救装修逼格，从忘掉宜家开始#
                    </a>
                    <div class="topic-title">公共频道</div>
                </div>
            </div>
            <div class="normal-topic">
                <div class="topic-hot">155</div>
                <div class="topic-body">
                    <a class="topic-content" href="/note">
                        #拯救装修逼格，从忘掉宜家开始#
                    </a>
                    <div class="topic-title">公共频道</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>