<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <title>登录</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/static/css/shitouren.css">
    <script type="text/javascript" src="http://www.shitouren.com/homepage/js/jquery.min.js"></script>
    <script src="/static/js/login.js"></script>
</head>
<body>
<div class="page">
    <div class="img-c">
        <span class="icon icon-head"></span>
    </div>
    <div class="input-c">
        <div class="input-icon-group">
            <span class="icon icon-user"></span>
            <input type="tel" placeholder="手机号" maxlength="11">
        </div>
        <div class="input-icon-group">
            <span class="icon icon-pwd"></span>
            <input type="password" placeholder="请输入密码">
        </div>
    </div>
    <div class="submit-c">
        <div class="submit-wrap">
            <button type="button" class="submit">登录</button>
        </div>
        <a href="#" class="submit-problem">登录遇到问题?</a>
    </div>
    <div class="reg-c">
        <div class="reg-tip">还没有账号</div>
        <div class="reg-btn-c"><a href="http://test.shitouren.com/weixin/web/login/redirect" class="btn reg-wx">
                <span class="icon icon-wx"></span> 微信账号注册
            </a><a href="#" class="btn reg-qq">
                <span class="icon icon-qq"></span> QQ账号注册
            </a></div>
    </div>
</div>
</body>
</html>