
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
    <!--<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" name="viewport" />-->
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="keywords" content="懒人, 周末, 话剧, 吃喝玩乐, 度周末, 惊喜, 周边游, 同城活动, 活动, 周边, 度假游, 手工, 音乐节, 自驾游, 文艺, 周末酒店, 周末去哪儿, 周末玩什么, 周末去处, 展览, 玩, 演出, hangzhou, 小清新, 过周末"/>
    <meta name="description" content="懒人周末是一款个性化的内容推荐应用，推荐精致的周末生活方式。内容涵盖同城活动、美食、周边游、运动、度假、演唱会、话剧、音乐会、读书会、展览、户外、酒吧、购物、电影、公益、商业等，部分活动在 APP 上预定会带来令人惊喜的超低折扣。"/>
    <title>城市达人</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href ="/static/css/share.css?v=9">
</head>
<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="masthead clearfix">
            <div class="inner">
                <div class="band-logo">
                    <span class="sprite masthead-logo">icon</span>
                    <p class="masthead-brand">城市达人</p>
                </div>
            </div>
        </div>

        <div class="cover">
            <img src="/static/images/share/img1.png">
            <img src="/static/images/share/img2.png">
            <img src="/static/images/share/img3.png">
        </div>

        <div class="mastcontent">
            <div class="feature-content">
                <div class="feature">
                    <span class="sprite feature-play">icon</span>
                    <p class="feature-name">城市新玩法</p>
                    <p class="feature-detail">跟着我走，带你见识不一样的旅行</p>
                </div>
                <div class="feature">
                    <span class="sprite feature-activity">icon</span>
                    <p class="feature-name">精品内容</p>
                    <p class="feature-detail">高品质交流内容，只为博得大众一笑</p>
                </div>
                <div class="feature">
                    <span class="sprite feature-map">icon</span>
                    <p class="feature-name">趣味地图</p>
                    <p class="feature-detail">能让您开怀大笑的优质Q版地图</p>
                </div>
            </div>
            <hr />
            <div class="special-content">
                <p class="special-title">在这里每天都有惊喜</p>
                <p class="special-describe">城市达人，伴你同行</p>
                <img src="/static/images/share/screen.png"/>
            </div>
            <hr />
            <div class="download-content">
                <p class="download-title">立即下载，开启城市新生活</p>
                <div class="code-download">
                    <span class="sprite qr-code">img</span>
                    <div class="download-type">
                        <a href="#"><span class="sprite appstore" id="appstore" >img</span></a>
                        <a href="#"><span class="sprite android-market" id="android-market">img</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="mastfoot">
            <div class="foot-content">
                <div class="name">
                    <span class="sprite footlog">icon</span>
                </div>
                <div class="company">www.shitouren.com 2013-2016 © All Rights Reserved.</div>
                <div class="web-code">京ICP备13023199号</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
