<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <title>话题内容</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/libs//swiper/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shitouren.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/underscore-min.js"></script>
    <script type="text/javascript" src="/static/libs/swiper/swiper.jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/note.js"></script>
    <script>

    </script>
</head>
<body>
<div class="note-page">
    <div class="page-body">
        <div class="tn-contaner">
            <div class="tn-channel">公共频道</div>
            <div class="tn-title">#邂逅最美下午茶#</div>
            <div class="tn-desc">在英国，当时钟敲响四下，世界为茶而停。
                品尝一份下午茶，享受一下午的悠闲时光，快来分享你的下午茶瞬间。</div>
            <div class="tn-ops">
                <div class="">
                    <span class="tn-hot">249</span>
                    <div class="tn-post-btn">
                        <span class="icon icon-edit"></span>
                        <span class="text">发表</span>
                    </div>
                </div>
                <div class="tn-tag-right">
                    <span class="icon icon-star-empty"></span> 收藏
                </div>
            </div>
        </div>
        <div>
            <div class="note">
                <div class="note-header">
                    <div class="nt-au-img"><img src="http://img4.imgtn.bdimg.com/it/u=4260226497,1586299901&fm=21&gp=0.jpg"></div>
                    <div class="nt-au-info">
                        <div class="nt-au-name">岚妹子</div>
                        <div class="nt-au-island">石头人的小岛</div>
                    </div>
                    <div class="nt-pull-right">
                        <div class="nt-like">
                            <span class="icon icon-hot-empty"></span> 76
                        </div>
                        <div class="nt-comp">
                            <div class="nt-comp-b">
                                <div class="nt-comp-l"></div>
                            </div>
                            <div class="nt-comp-num">80%</div>
                        </div>
                    </div>
                </div>
                <div class="nt-imgs">
                    <div class="nt-limg-container">
                        <div class="nt-limg">
                            <img src="http://www.cghlj.com/uploads/allimg/131124/1-131124091522.jpg" class="active">
                            <img src="http://img2.duitang.com/uploads/item/201201/06/20120106160117_yZceC.jpg">
                            <img src="http://pic41.nipic.com/20140516/11435189_164350184125_2.jpg">
                            <img src="http://img1.imgtn.bdimg.com/it/u=3480985383,553333738&fm=21&gp=0.jpg">
                            <img src="http://img2.imgtn.bdimg.com/it/u=2332348080,2650842468&fm=21&gp=0.jpg">
                        </div>
                    </div>
                    <div class="nt-simgs-container">
                        <div class="nt-simgs">
                            <img style="border: 1px solid rgb(148,203,93);" src="http://img2.imgtn.bdimg.com/it/u=1895328705,3684784743&fm=21&gp=0.jpg">
                            <img src="http://file.fwjia.com:88/d/file/2013-08-05/2412fbe21dc666a2e33ccd15158e9fbc.jpg">
                            <img src="http://img1.imgtn.bdimg.com/it/u=955637052,453352375&fm=21&gp=0.jpg">
                            <img src="http://file.fwjia.com:88/d/file/2013-08-05/2412fbe21dc666a2e33ccd15158e9fbc.jpg">
                            <img src="http://file.fwjia.com:88/d/file/2013-08-05/2412fbe21dc666a2e33ccd15158e9fbc.jpg">
                            <img src="http://file.fwjia.com:88/d/file/2013-08-05/2412fbe21dc666a2e33ccd15158e9fbc.jpg">
                            <img src="http://file.fwjia.com:88/d/file/2013-08-05/2412fbe21dc666a2e33ccd15158e9fbc.jpg">
                            <img src="http://file.fwjia.com:88/d/file/2013-08-05/2412fbe21dc666a2e33ccd15158e9fbc.jpg">
                            <img src="http://file.fwjia.com:88/d/file/2013-08-05/2412fbe21dc666a2e33ccd15158e9fbc.jpg">
                        </div>
                    </div>
                </div>
                <div class="nt-content">1、前门M
在前门M的下午茶一定要选在凉台用，抬眼就能看到前三门，紫禁城尽收眼下的大气景致还有哪儿能比得上吗？</div>
                <div class="tn-tags">
                    <div class="tn-tag">消磨时光</div>
                    <div class="tn-tag">甜点</div>
                    <div class="tn-tag">休闲</div>
                    <div class="tn-tag">恬静午后</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/template" id="topic-info-template">
    <div class="tn-channel"><%- channel %></div>
    <div class="tn-title">#<%- title %>#</div>
    <div class="tn-desc"><%- summary %></div>
    <div class="tn-ops">
        <div class="">
            <span class="tn-hot"><%- hot %></span>
            <div class="tn-post-btn">
                <span class="icon icon-edit"></span>
                <span class="text">发表</span>
            </div>
        </div>
        <div class="tn-tag-right">
            <span class="icon icon-star<% if(!liked) { %>-empty<% } %>"></span> 收藏
        </div>
    </div>
</script>

<script type="text/template" id="note-template">
    <div class="note" data-note-id="<%- noteid %>">
        <div class="note-header">
            <div class="nt-au-img"><img src="<%= user.imglink %>"></div>
            <div class="nt-au-info">
                <div class="nt-au-name"><%- user.name %></div>
                <div class="nt-au-island"><%- user.zone %></div>
            </div>
            <div class="nt-pull-right">
                <div class="nt-like">
                    <span class="icon icon-hot<% if(!liked) { %>-empty<% } %>"></span> <%- hot %>
                </div>
                <div class="nt-comp">
                    <div class="nt-comp-b">
                        <div class="nt-comp-l" style="width: <%- complete %>"></div>
                    </div>
                    <div class="nt-comp-num"><%- complete %>%</div>
                </div>
            </div>
        </div>
        <div class="nt-imgs">
            <div class="nt-limg-container">
                <div class="nt-limg" style="<% if(imgs.length <= 0) { %>display: none<% } %>">
                    <% for(var i=0; i < imgs.length; i++) { %>
                    <img src="<%- imgs[i] %>" style="<% if(i !== 0) { %>display: none<% } %>">
                    <% } %>
                </div>
            </div>
            <div class="nt-simgs-container">
                <div class="nt-simgs">
                    <% for(var i=0; i < thumbs.length; i++) { %>
                    <img src="<%- thumbs[i] %>" class="<% if(i == 0) { %>active<% } %>">
                    <% } %>
                </div>
            </div>
        </div>
        <div class="nt-content"><%- note %></div>
        <div class="tn-tags">
            <% for(var i=0; i < tags.length; i++) { %>
                <div class="tn-tag"><%- tags[i] %></div>
            <% } %>
        </div>
    </div>
</script>
</body>
</html>